.text {
  font-weight: var(--cc-inweb-font-weight, 400);
  font-size: var(--cc-inweb-font-size, 15px);
  font-style: var(--cc-inweb-font-style, italic);
  color: var(--cc-inweb-color, #6a6a6a);
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  .question {
    @extend .text;
  }
  .options {
    height: 21px;

    display: flex;
    width: 48px;
    span {
      &.yes {
        color: var(--cc-inweb-yes-color, var(--cc-inweb-color, #6a6a6a));
      }
      &.no {
        color: var(--cc-inweb-no-color, var(--cc-inweb-color, #6a6a6a));
      }

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(1.25);
      }
      &:first-child {
        margin-right: 8px;
        margin-left: 4px;
      }
      text-decoration: underline;
      cursor: pointer;
    }
    .up,
    .down {
      svg {
        height: var(--cc-inweb-icon-size, var(--cc-inweb-font-size, 15px));
        width: var(--cc-inweb-icon-size, var(--cc-inweb-font-size, 15px));
      }
      cursor: pointer;
      width: 17px;
      margin: 0 6px;
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(1.25);
      }
      &:nth-child(2) {
        margin-left: 2px;
        top: 3px;
        position: relative;
      }
    }
    .up {
      path {
        fill: var(--cc-inweb-yes-color, var(--cc-inweb-color, #6a6a6a));
      }
    }
    .down {
      path {
        fill: var(--cc-inweb-no-color, var(--cc-inweb-color, #6a6a6a));
      }
    }
  }
}
