.text {
  font-weight: var(--cc-inweb-font-weight, 400);
  font-size: var(--cc-inweb-font-size, 15px);
  font-style: var(--cc-inweb-font-style, italic);
  color: var(--cc-inweb-color, #6a6a6a);
}
.thankyou {
  height: 36px;
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  position: relative;
  align-items: center;
  min-height: 36px;
  height: auto;
  .first-row {
    display: flex;
    align-items: center;
    min-height: 36px;
  }
  .question {
    @extend .text;
  }

  .smile-container,
  .star-container {
    margin-bottom: 2px;
    height: 21px;
    margin-left: 4px;
    display: flex;
    width: 124px;
    align-items: center;
    justify-content: space-between;
    img {
      cursor: pointer;
      height: 100%;
      &:hover {
        transform: scle(1.1);
      }
      &:active {
        transform: scale(1.25);
      }
    }
  }
  .menu {
    position: absolute;
    background: #ffffff;
    max-width: 260px;
    min-width: 200px;
    max-height: 400px;
    overflow: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    .menu-item {
      min-height: 24px;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #f2f2f2;
      }
      &.question-text {
        font-weight: bold;
        cursor: default;
        border-bottom: 1px solid #e7e7e7;
      }
    }
    &.above {
      bottom: 0;
    }
  }
  .select-container {
    margin-bottom: 2px;
    margin-left: 4px;
    select {
      border-width: 0px 0px 1px 0px;
      margin-left: 4px;
      border-style: solid;
      outline: none;
      width: 124px;
      cursor: pointer;
      option {
        cursor: pointer;
      }
    }
  }
  .cc-overlay {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
  }
  .options {
    height: 21px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    width: 48px;
    div.text-button {
      --cc-inweb-yes-background: blue;
      --cc-inweb-no-background: blue;
      padding: 0 16px;
      border-radius: 4px;
      text-align: center;
      min-width: 32px;
      line-height: 36px;
      position: relative;

      .button-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: inherit;
        pointer-events: none;
        transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1),
          background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
        opacity: 0;
      }
      &.yes {
        color: var(--cc-inweb-yes-color, var(--cc-inweb-color, #6a6a6a));
        &:hover {
          // @if var(--cc-inweb-yes-color, var(--cc-inweb-color, #ffffff)) ==
          //   #ffffff
          // {
          // } @else {
          //   color: #ffffff;
          // }
          .button-background {
            opacity: 0.04;
            background-color: var(
              --cc-inweb-yes-color,
              var(--cc-inweb-color, #6a6a6a)
            );
          }
        }
        &:active {
          .button-background {
            opacity: 0.1;
            background-color: var(
              --cc-inweb-yes-color,
              var(--cc-inweb-color, #6a6a6a)
            );
          }
        }
      }
      &.no {
        color: var(--cc-inweb-no-color, var(--cc-inweb-color, #6a6a6a));
        &:hover {
          // @if var(--cc-inweb-no-color, var(--cc-inweb-color, #ffffff)) ==
          //   #ffffff
          // {
          // } @else {
          //   color: #ffffff;
          // }
          .button-background {
            opacity: 0.04;
            background-color: var(
              --cc-inweb-no-color,
              var(--cc-inweb-color, #6a6a6a)
            );
          }
        }
        &:active {
          .button-background {
            opacity: 0.1;
            background-color: var(
              --cc-inweb-yes-color,
              var(--cc-inweb-color, #6a6a6a)
            );
          }
        }
      }

      // &:hover {
      //   transform: scale(1.1);
      // }
      // &:active {
      //   transform: scale(1.25);
      // }
      &:first-child {
        margin-right: 8px;
        margin-left: 4px;
      }
      cursor: pointer;
    }
    .up,
    .down {
      svg {
        height: var(--cc-inweb-icon-size, var(--cc-inweb-font-size, 15px));
        width: var(--cc-inweb-icon-size, var(--cc-inweb-font-size, 15px));
      }
      cursor: pointer;
      width: 17px;
      margin: 0 var(--cc-inweb-icon-margin, 6px);
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(1.25);
      }
      &:nth-child(2) {
        margin-left: 2px;
        top: 3px;
        position: relative;
      }
    }
    .up {
      path {
        fill: var(--cc-inweb-yes-color, var(--cc-inweb-color, #6a6a6a));
      }
    }
    .down {
      path {
        fill: var(--cc-inweb-no-color, var(--cc-inweb-color, #6a6a6a));
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .container .menu {
    left: 0 !important;
  }
}
